.Category-title {
    color: white;
    font-weight: bold;
    text-align: center;
}

.Category-list {
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Category-link {
    color: white;
    font-size: 1em;
    padding: .3em;
    transition: color ease-in .1s;
}

.Category-link:hover {
    color: #8c55a2;
}

@media screen and (min-width: 640px) {
    .Category-list {
        display: list-item;
    }

    .Category-list li {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 0.8em;
    }
}