.Category-title {
    color: white;
    font-weight: bold;
    text-align: center;
}

.Category-list {
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Category-item-0{
    text-align: center;
    margin: 3px 3px;
    padding: 3px;
    background-color: #709cc0;
    border: 1px solid white;
    cursor: pointer;
}

.Category-item-1{
    text-align: center;
    margin: 3px 3px;
    padding: 3px;
    background-color: #678f71;
    border: 1px solid white;
    cursor: pointer;
}

.Category-item-2{
    text-align: center;
    margin: 3px 3px;
    padding: 3px;
    background-color: #c98874;
    border: 1px solid white;
    cursor: pointer;
}

.Category-link {
    color: white;
    font-size: 1em;
    padding: .3em;
    transition: color ease-in .1s;
}

.Category-link:hover {
    color: #8c55a2;
}

@media screen and (min-width: 640px) {
    .Category-list {
        display: list-item;
    }

    .Category-list {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 0.8em;
    }
}