:root {
    --gridList-column: 250px;
    --gridList-rows: 250px;
    --gridList-gap: 6px;
}

.ListOfGifs {
    display: grid;
    /* 4 times a fraction | Una fraccion es una fraccion del ancho total de pantalla para las columnas(en este caso). 
    Si pones 1fr 1fr, cada 1fr = 50% y sera una columna de 50%
    De la manera que esta con el repeat(4, 1fr), cada 1fr son 25% 
    
    Con el auto-fit, detecta solo cuando ha de poner mas o menos columnas dependiendo de la anchura. 
    El minmax(vMin, vMax) hace que como minimo tengan 200px y como maximo 1fr, a la que la pantalla sea lo suficientemente grande para que quepa otra columna de 200px la añade.
    */
    grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
    grid-auto-rows: var(--gridList-rows);
    grid-template-rows: masonry;
    grid-auto-flow: row dense;
    gap: var(--gridList-gap, 6px);
    grid-gap: var(--gridList-gap, 6px);
    /* Arriba/abajo=0  Izq,derecha = 16*/
    align-items: center;
    min-height: 100vh;
}

@media screen and (min-width: 37.5rem) {
    :root {
        --gridList-column: 180px;
        --gridList-rows: 200px;
    }
}

@media screen and (min-width: 60rem) {
    :root {
        --gridList-column: 300px;
        --gridList-rows: 210px;
    }
}