:root {
  --results-columns: 2;
}

.ListOfGifs {
  display: grid;
  /* 4 times a fraction | Una fraccion es una fraccion del ancho total de pantalla para las columnas(en este caso). 
  Si pones 1fr 1fr, cada 1fr = 50% y sera una columna de 50%
  De la manera que esta con el repeat(4, 1fr), cada 1fr son 25% 
  
  Con el auto-fit, detecta solo cuando ha de poner mas o menos columnas dependiendo de la anchura. 
  El minmax(vMin, vMax) hace que como minimo tengan 200px y como maximo 1fr, a la que la pantalla sea lo suficientemente grande para que quepa otra columna de 200px la añade.
  */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-template-rows: masonry;
  gap: 0 16px; /* Arriba/abajo=0  Izq,derecha = 16*/
  align-items:center;
  min-height: 100vh;
}


.ListOfGifs-item {

  background-color: #eee;
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 3;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 4;
  }
}