.f-header{
    display: flex;
    justify-content: flex-end;
}

.f-header a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.f-header a:hover{
    color: #09f;
}

.f-header a + a{
    margin: 0 8px;
}